*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:rgb(34, 33, 33);
}

html{
    color: white;
}

button{
    color:black;
    font-size: 1rem;
    background:#ABABAB;
    border:none;
    cursor: pointer;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
}

li{
    text-align: center;
    background: white;
    color:black;
    list-style: none;
    border:solid black 1px;
    width: 100%;
}

.box{
    min-height: 50vh;
    padding:2rem;
}

.check{
    background: #6DDE45;
    background-image:url(./Icons/checkmark_83735.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:20px;
    height:19px;
}

.trash{
    background: red;
    background-image:url(./Icons/seo-social-web-network-internet_262_icon-icons.com_61518.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}